<!DOCTYPE html>
<html>




<body>

{% load static %}



<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">

<h2>Under construction! Please visit our web ring!</h2>

<img src="https://media.giphy.com/media/r0MXqr1iIuRMY/giphy.gif" alt="Hi" style="width:900px;height:700px;">

<br>

You are visitor: <br>

<img src="https://media.giphy.com/media/cZ5QhA6yJP8mk/giphy.gif" alt="Hi">

      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>

</body>



</html>